@font-face {
    font-family: "Fred";
    src: url("../Fonts/Fredoka.ttf") format('truetype');
  }
footer{
    font-family: Fred;
    display: flex;
    align-items: flex-start;
    background-color: #7A3E65;
    margin: 0 25px;
    gap: 35px;
    color: white;
}
footer .top{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
footer .top .links{
    display: grid;
    grid-template-columns: repeat(2, lfr);
    gap: 30px;
}
footer .bottom{
    padding: 20px 0;
    justify-content: space-between;
}
footer .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}
footer h2{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #f7f7f7;
  
}
footer .legal{
    font-size: 12px;
}
footer .legal > a{
    margin: 0 4px;
}
footer .legal > span{
    margin-right: 10px;
}