@font-face {
  font-family: "MontR";
  src: url("/Crocycle/Fonts/MontserratReg.ttf") format('truetype');

}

@font-face {
  font-family: "HighC";
  src: url("/Crocycle/Fonts/HighCruiser.ttf") format('truetype');
}

@font-face {
    font-family: "Fred";
    src: url("../Crocycle/Fonts/Fredoka.ttf") format('truetype');
}
/* Font families imported */
.inputsection h1{
    font-family: HighC;
    font-size: 70px;
 
    text-align: center;
} 
/* this manages the Crocycle */
/*Background*/
body{
 margin: 0;
 
}
.bgclass{
 height: 100vh;
 overflow: hidden;
 position: relative;
 width: 100vw;
 /*background-image: url(/Crocycle/Images/StockImages/LogPageBG.png);*/
 background: linear-gradient(rgba(0, 0, 100, 0.60), rgba(0, 0, 0, 0.60)), url('/Crocycle/Images/StockImages/LogPageBG.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
 display: flex;
 align-items:center;
 justify-content: center;
}

/*Crocycle Logo*/
.logo{
   position: relative;
   left: 500px;
   top: -200px;
}

/*Media Query Section*/
/*-------------------------------------------------------------------------------------------*/

/*Media Query (Monitor)*/ 
@media only screen and (min-width: 1200px) {
  .logo {
    left: 820px;
    top: -240px;

  }
}

/*Media Query (Laptop)*/
@media only screen and (min-width: 1080px){
  .logo{
    left: 48%;
  }
}


/* this section class manages the div where the content is in */
.section{
    margin-right:200px;
    margin-top: 2%;
    /* manages the position of the section div */
    background-color: #A96262;
    /* changes background color */
    flex-direction:space-between;
    display: flex;
    align-items:center;
    justify-content: center;
    /* centers the objects within */
    height: 500px;
    width: 55%;
    /* manages the height and width */
    border-radius: 15px;
    overflow:hidden;
    /* rounds the corners and hides overflowing hidden */
    box-shadow: 0 8px 8px 3px rgb(41, 40, 40, 0.4);
    
    
}

/*Parallax Section*/
.parallax{
  margin-right:20px;
  min-width:100px;
  height: 635px;
  width:30%;
  background-color: black;
  overflow: hidden;
  border-radius: 15px;
  
}


/* This is where the login section is*/
.inputsection {
    /*width: 382px;*/
    width: 30%;
    padding: 75px;
    border-radius: 15px ;
    flex-grow: 2;
    
}

/*Forget Password Section*/
.inputsection p{
  text-align: center;
  font-family: MontR;
}

/*Hyperlink*/
.section a {
  text-decoration:none;
  font-weight:bold;
  color: black;
}

/*Username and Password form*/
.inputs{
    border: 1px solid #DDD; 
    background-color:white;
    padding: 12px;
    border-radius: 5px;
}

/* manages the actual input elements */
.inputs input{
    font-family: MontR;
    outline: none; /* removes the outline from the actual input box */
    width: 90%;
}

/*Button*/
.btn{
    font-family: MontR;
    font-size:19px;
    font-weight:bold;
    background-color: #7A3E65;
    width: 100%;
    height: 100%;
    padding: 8px;
    border: none;
    border-radius: 7px;
    color:white;
}